* {
    padding: 0;
    margin: 0;
}

.logo-name {
    font-weight: bolder;
    font-family: "Audiowide", serif;
}

.navbar-toggler {
    background-color: rgba(112, 112, 112, 0.815);
}

.text-danger {
    letter-spacing: 3px;
}

@media (min-width: 414px) and (max-width: 992px) {
    .village-section {
        text-align: center;
    }

    .branch {
        text-align: center;
    }

    button {
        margin-bottom: 10px;
    }

    .page-end {
        text-align: center;
        padding-bottom: 20px;
    }

    .for-mobile {
        order: 2;
    }

    .for-mobile-2 {
        order: 1;
    }
}